@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Alef Hebrew', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f7f7f7;
    background-color: #333;
    
    /* fade-in effect */
    opacity: 1;
    transition: 0.75s;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/*---------------------UNIVERSAL HEADER---------------------*/
header {
    background-color: #333;
    margin: 0;
    padding: 0;
}

.heading {
    margin: 0;
    padding: 15px 30px 15px 4px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 20px 0;
    overflow: hidden;
}
nav li {
    display: inline;
}

nav a {
    width: 200px;
    font-size: 22px;
    color: #f7f7f7;
    text-align: center;
    padding: 15px 7px;
    margin: 200px 7px 15px 7px;
    text-decoration: none;
    transition: color 0.3s;
}
nav a:hover, .active {
    color: mediumpurple;
}

.registration {
    text-align: left;
    margin: -32px 0 -10px 20px ;
}
.registration a {
    background: none;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #aaaaaa;
    text-decoration: none;
    outline:none;
}
.registration a:hover {
    color: #c1c0c0;
    cursor: pointer;
}

/*---------------------UNIVERSAL FOOTER---------------------*/
footer {
    background-color: black;
    padding: 20px;
    margin: 0;
    font-size: 13px;
    text-align: center;
}

footer p {
    margin: 0;
    display:inline;
}

.toTop {
    width: 22px;
    float: left;
}

/*---------------------OTHER UNIVERSALS---------------------*/
.invisibleDividor {
    height: 0;
    width: 0;
    margin: 0;
}

.divEnd {
    margin: 0;
}

.backToTop {
    /*style*/
    display: none;
    padding: 15px 19px;
    border: 4px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    /*positioning*/
    bottom: 15px;
    left: 15px;
    overflow: auto;
    position: fixed;
    z-index: 5;
    /*text*/
    color: rgba(255, 255, 255, 0.4);
    font-size: 25px;

    transition: 0.5s;
}
.backToTop:hover {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}


.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    display: none;
}

    .back_to_top:hover {
        background: #e9ebec;
    }

.back_to_top-show {
    display: block;
}

/*---------------------HOME---------------------*/
.parralax {
    background-image: url("Images/steak.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parralaxBox {
    background-color: rgba(12,25,21, 0.45);
    padding: 10px 0 10px 0;
    margin-top: 309px;

    text-align: center;
}
.parralaxBox h1 {
    margin: 0;
    padding: 0 7px 0 7px;
}

.division1 {
    background-color: #141313;
    margin: 0;
}
.division1 table {
    padding: 20px 10px;
}
.division1 img {
    width: 600px;
    margin-left: 20px;
    border-radius: 5px;
}

.division2 {
    background-color: #141313;
    margin: 0;
}
.division2 table {
    width: 100%;
    padding: 20px 0 20px 0;
    text-align:center;
}

.division2 img {
    width: 600px;
    border-radius: 5px;
}


/*---------------------MENUS---------------------*/
.mainCourse {
    background-image: url(Images/back2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.dessert {
    background-image: url(Images/back3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}


.headingBox {
    background-color: rgba(12, 25, 21, 0.46);
    padding: 50px 0 50px 0;
}

.menu h1 {
    margin: 0;
    font-size: 40px;
    text-decoration: none;
}
.menu table {
    background-color: rgb(10, 26, 20);
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    border-collapse: collapse;
}
.menu td {
    width:50%;
    padding:20px;
}
.menu img {
    width: 600px;
    border-radius: 5px;
}

/*---------------------CONTACT---------------------*/
.contact {
    text-align: center;
    background-image: url(Images/Logo.png);
    background-size: contain;
    background-position: center;

    font-size: 20px;
}
.contact div {
    background-color: rgba(166, 16, 30, 0.8);
    padding: 30px;
    margin:0;
}

form {
    margin-bottom: 20px;
}
input, textarea {
    border-radius: 7px;
    background-color: rgb(248, 240, 228);
    transition:0.3s;

}


.type1Input {
    width: 326px;
    padding: 8px;
    border-width: 3px;
}
.type2Input {
    width: 700px;
    padding: 8px;
    border-width: 3px;
}
.type1Input:focus, .type2Input:focus {
    background-color: black;
    color: white;
    outline: none;
}

.formBtn {
    color: white;
    background-color: black;
    border: none;
    border-color: black;
    margin: 13px;
    padding: 10px;

    width: 190px;
    font-size: 16px;

    transition: 0.5s;
}
.formBtn:hover {
    background-color: rgb(16, 105, 166);
    cursor: pointer;
}


/*---------------------LOGIN/SIGNUP---------------------*/
.logSign {
    background-color: rgb(166, 16, 16);
}
.logSignBox {
    width: 40%;
    margin: 2.5% auto 0 auto;
    padding: 10px 3%;
    border-radius: 3px;
    background-color: #1e2833;
    box-shadow: 5px 3px 100px black;
    font-size: smaller;
}
.backToHome {
    float: left;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 2px -2px 0 -3.5%;
    border:none;
    outline:none;
    background: none;
    cursor:pointer;
}

.logSignInput {
    width: 85%;
    margin: 10px 0 20px 0;
    padding: 15px;
    border: hidden;
    background-image: linear-gradient(to right, rgb(27, 36, 46), rgb(26, 34, 43));
    background-color: #1e2833;
    border-bottom: solid #171e26;
    border-radius: 0;
    font-size: 15px;
    transition: 0.6s;
}
.logSignInput:focus {
    outline: none;
    transform: scale(1.03);
    color: white;
}

.logSignSubmit {
    width: 92%;
    margin: 30px 0;
    padding: 15px;
    border: hidden;
    outline: none;
    box-shadow: 1px 1px 20px black;
    background-color: #214a80;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    

    transition: 0.5s;
}
.logSignSubmit:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 5px 5px 60px black;
}